@model AddCategoryViewModel

@{
    ViewData["Title"] = "Add Category";
}
<h2 class ="mb-4">Add Category</h2>

<form method="post" asp-action="AddCategory" asp-controller="Category" class="form-control" style="height: auto;display: flex;flex-direction: column;gap: 20px;margin-bottom: 20px;">
    <div class="form-group col-md-6">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" style="background-color:white !important; color:black; font-weight:bold;">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-success" style="width:fit-content"> Save </button>
</form>

<div class="container">
    <a asp-action="GetAll" asp-controller="Category" class="btn btn-outline-success btn-lg"><i class="bi bi-arrow-left-circle"></i> Back To List</a>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}